# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/TracingExperiment/bin/Autofac.Integration.WebApi.xml
/TracingExperiment/bin/Autofac.xml
/TracingExperiment/bin/EntityFramework.SqlServer.xml
/TracingExperiment/bin/EntityFramework.xml
/TracingExperiment/bin/Microsoft.AspNet.Identity.Core.xml
/TracingExperiment/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/TracingExperiment/bin/Microsoft.AspNet.Identity.Owin.xml
/TracingExperiment/bin/Microsoft.Owin.Host.SystemWeb.xml
/TracingExperiment/bin/Microsoft.Owin.Security.Cookies.xml
/TracingExperiment/bin/Microsoft.Owin.Security.Facebook.xml
/TracingExperiment/bin/Microsoft.Owin.Security.Google.xml
/TracingExperiment/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/TracingExperiment/bin/Microsoft.Owin.Security.OAuth.xml
/TracingExperiment/bin/Microsoft.Owin.Security.Twitter.xml
/TracingExperiment/bin/Microsoft.Owin.Security.xml
/TracingExperiment/bin/Microsoft.Owin.xml
/TracingExperiment/bin/Newtonsoft.Json.xml
/TracingExperiment/bin/ProductionStackTrace.Analyze.xml
/TracingExperiment/bin/ProductionStackTrace.xml
/TracingExperiment/bin/System.Net.Http.Formatting.xml
/TracingExperiment/bin/System.Web.Helpers.xml
/TracingExperiment/bin/System.Web.Http.Owin.xml
/TracingExperiment/bin/System.Web.Http.WebHost.xml
/TracingExperiment/bin/System.Web.Http.xml
/TracingExperiment/bin/System.Web.Mvc.xml
/TracingExperiment/bin/System.Web.Optimization.xml
/TracingExperiment/bin/System.Web.Razor.xml
/TracingExperiment/bin/System.Web.WebPages.Deployment.xml
/TracingExperiment/bin/System.Web.WebPages.Razor.xml
/TracingExperiment/bin/System.Web.WebPages.xml
/TracingExperiment/bin/TracingExperiment.dll.config
/TracingExperiment/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TracingExperiment/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TracingExperiment/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TracingExperiment/obj/Debug/TracingExperiment.csproj.FileListAbsolute.txt
/WcfService/bin/WcfService.dll.config
/WcfService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WcfService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WcfService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WcfService/obj/Debug/WcfService.csproj.FileListAbsolute.txt
/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
/packages/Autofac.4.3.0/Autofac.4.3.0.nupkg
/packages/Autofac.4.3.0/lib/net45/Autofac.xml
/packages/Autofac.4.3.0/lib/netstandard1.1/Autofac.xml
/packages/Autofac.WebApi2.4.0.1/Autofac.WebApi2.4.0.1.nupkg
/packages/Autofac.WebApi2.4.0.1/lib/net45/Autofac.Integration.WebApi.xml
/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/packages/EntityFramework.6.1.3/content/App.config.transform
/packages/EntityFramework.6.1.3/content/Web.config.transform
/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.1.3/tools/init.ps1
/packages/EntityFramework.6.1.3/tools/install.ps1
/packages/Microsoft.AspNet.Identity.Core.2.2.1/Microsoft.AspNet.Identity.Core.2.2.1.nupkg
/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.xml
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/Microsoft.AspNet.Identity.EntityFramework.2.2.1.nupkg
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
/packages/Microsoft.AspNet.Identity.Owin.2.2.1/Microsoft.AspNet.Identity.Owin.2.2.1.nupkg
/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.xml
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
/packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPage.css.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/Api.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/Index.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/ResourceModel.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Web.config
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Microsoft.AspNet.WebApi.HelpPage.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/Microsoft.AspNet.WebApi.Owin.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/System.Web.Http.Owin.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
/packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/Microsoft.Owin.Host.SystemWeb.3.0.1.nupkg
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
/packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
/packages/Microsoft.Owin.Security.Cookies.3.0.1/Microsoft.Owin.Security.Cookies.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.xml
/packages/Microsoft.Owin.Security.Facebook.3.0.1/Microsoft.Owin.Security.Facebook.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.XML
/packages/Microsoft.Owin.Security.Google.3.0.1/Microsoft.Owin.Security.Google.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.XML
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/Microsoft.Owin.Security.MicrosoftAccount.3.0.1.nupkg
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
/packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
/packages/Microsoft.Owin.Security.Twitter.3.0.1/Microsoft.Owin.Security.Twitter.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.XML
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
/packages/Modernizr.2.6.2/Tools/common.ps1
/packages/Modernizr.2.6.2/Tools/install.ps1
/packages/Modernizr.2.6.2/Tools/uninstall.ps1
/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
/packages/Owin.1.0/Owin.1.0.nupkg
/packages/Owin.1.0/Owin.1.0.nuspec
/packages/ProductionStackTrace.1.0.16/ProductionStackTrace.1.0.16.nupkg
/packages/ProductionStackTrace.1.0.16/lib/net20/ProductionStackTrace.xml
/packages/ProductionStackTrace.1.0.16/lib/net40/ProductionStackTrace.xml
/packages/ProductionStackTrace.1.0.16/lib/net45/ProductionStackTrace.xml
/packages/ProductionStackTrace.Analyze.1.0.16/ProductionStackTrace.Analyze.1.0.16.nupkg
/packages/ProductionStackTrace.Analyze.1.0.16/lib/net20/ProductionStackTrace.Analyze.xml
/packages/ProductionStackTrace.Analyze.1.0.16/lib/net40/ProductionStackTrace.Analyze.xml
/packages/ProductionStackTrace.Analyze.1.0.16/lib/net45/ProductionStackTrace.Analyze.xml
/packages/Respond.1.2.0/Respond.1.2.0.nupkg
/packages/Respond.1.2.0/content/Scripts/respond.js
/packages/Respond.1.2.0/content/Scripts/respond.min.js
/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
/packages/bootstrap.3.0.0/content/Content/bootstrap.css
/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
/packages/jQuery.1.10.2/Tools/common.ps1
/packages/jQuery.1.10.2/Tools/install.ps1
/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
/packages/jQuery.1.10.2/Tools/uninstall.ps1
/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
/packages/Enexure.MicroBus.3.5.0/Enexure.MicroBus.3.5.0.nupkg
/packages/Enexure.MicroBus.Autofac.3.5.1/Enexure.MicroBus.Autofac.3.5.1.nupkg
/packages/Enexure.MicroBus.InfrastructureContracts.3.5.0/Enexure.MicroBus.InfrastructureContracts.3.5.0.nupkg
/packages/Enexure.MicroBus.MessageContracts.3.1.0/Enexure.MicroBus.MessageContracts.3.1.0.nupkg
/TracingExperiment/obj/Debug/TracingExperiment.Tracing.Database.InitialMigration.resources
/TracingExperiment/bin/Autofac.Integration.Mvc.xml
/TracingExperiment/bin/BootstrapTable.xml
/packages/Autofac.Mvc5.4.0.1/Autofac.Mvc5.4.0.1.nupkg
/packages/Autofac.Mvc5.4.0.1/lib/net45/Autofac.Integration.Mvc.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
/packages/bootstrap-table.mvc.1.1.1/bootstrap-table.mvc.1.1.1.nupkg
/packages/bootstrap-table.mvc.1.1.1/content/Content/bootstrap-table.css
/packages/bootstrap-table.mvc.1.1.1/content/Content/bootstrap-table.min.css
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/bootstrap-table.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/bootstrap-table.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/extensions/export/bootstrap-table-export.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/extensions/filter/bootstrap-table-filter.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/extensions/flatJSON/bootstrap-table-flatJSON.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-cs-CZ.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-da-DK.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-de-DE.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-el-GR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-en-US.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-es-AR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-es-CR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-es-NI.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-fr-BE.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-fr-FR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-hu-HU.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-it-IT.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-ja-JP.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-ko-KR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-ms-MY.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-nb-NO.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-nl-NL.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-pl-PL.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-pt-BR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-pt-PT.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-ru-RU.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-sk-SK.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-sv-SE.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-th-TH.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-tr-TR.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-uk-UA.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-ur-PK.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-vi-VN.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js
/packages/bootstrap-table.mvc.1.1.1/content/Scripts/bootstrap-table/locale/bootstrap-table-zh-TW.min.js
/packages/bootstrap-table.mvc.1.1.1/lib/net452/BootstrapTable.XML
/packages/bootstrap.3.3.1/bootstrap.3.3.1.nupkg
/packages/bootstrap.3.3.1/content/Content/bootstrap-theme.css
/packages/bootstrap.3.3.1/content/Content/bootstrap-theme.css.map
/packages/bootstrap.3.3.1/content/Content/bootstrap-theme.min.css
/packages/bootstrap.3.3.1/content/Content/bootstrap.css
/packages/bootstrap.3.3.1/content/Content/bootstrap.css.map
/packages/bootstrap.3.3.1/content/Content/bootstrap.min.css
/packages/bootstrap.3.3.1/content/Scripts/bootstrap.js
/packages/bootstrap.3.3.1/content/Scripts/bootstrap.min.js
/packages/bootstrap.3.3.1/content/Scripts/npm.js
/packages/bootstrap.3.3.1/content/fonts/glyphicons-halflings-regular.eot
/packages/bootstrap.3.3.1/content/fonts/glyphicons-halflings-regular.svg
/packages/bootstrap.3.3.1/content/fonts/glyphicons-halflings-regular.ttf
/packages/bootstrap.3.3.1/content/fonts/glyphicons-halflings-regular.woff
