@using TracingExperiment.Helpers
@using TracingExperiment.Models
@{
    ViewBag.Title = "Logs HomePage";
}

@section styles
{
    @Styles.Render("~/Content/xmldisplaycss")

    @Styles.Render("~/Content/prettyprint")
}

<div class="jumbotron">
    <p class="lead">See the logs</p>
</div>

@(Html.BootstrapTable<TraceViewModel>(Url.Action("GetTracesPaged"), TablePaginationOption.server)
      .Apply(TableOption.showLoading, TableOption.showRefresh, TableOption.search, TableOption.sortOrder_desc, TableOption.striped, TableOption.showToggle)
      .Apply(TableOption.sortName, "Timestamp")
      .Apply(TableOption.pageSize, 100)
      .Cease(x => x.Workflow)
      .Apply(m => m.Timestamp, ColumnOption.sortable)
      .ApplyToColumns(ColumnOption.formatter)
      .Apply(TableOption.buttonsAlign, "left"))

@section scripts
{   
    @Scripts.Render("~/bundles/prettyprintjs")
    <script language="javascript">
        $(document).ready(function() {

            $('.bootstrap-table').on('load-success.bs.table', function () {
                PR.prettyPrint();
            });

            $("button[name='toggle']").click(function () {
                PR.prettyPrint();
            });
        })
    </script>
}
